<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apekantun">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.RegistrarPagoActivity"
            android:parentActivityName=".view.PrincipalGastosActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.PrincipalGastosActivity" />

        </activity>
        <activity
            android:name=".view.RegistarGastoActivity"
            android:parentActivityName=".view.PrincipalGastosActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.PrincipalGastosActivity" />
        </activity>
        <activity
            android:name=".view.RegistarEmpresaDosActivity"
            android:parentActivityName=".view.RegistrarEmpresaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.RegistrarEmpresaActivity" />
        </activity>
        <activity
            android:name=".view.RegistrarEmpresaActivity"
            android:parentActivityName=".view.PrincipalGastosActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.PrincipalGastosActivity" />
        </activity>
        <activity
            android:name=".view.PrincipalGastosActivity"
            android:parentActivityName=".view.PrincipalCoordinadorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.PrincipalCoordinadorActivity" />
        </activity>
        <activity android:name=".view.PrincipalAdministradorActivity" />
        <activity
            android:name=".view.DialogoParticipanteActivity"
            android:parentActivityName=".view.NominaParticipantesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.NominaParticipantesActivity" />
        </activity>
        <activity
            android:name=".view.NominaParticipantesActivity"
            android:parentActivityName=".view.PrincipalCoordinadorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.PrincipalCoordinadorActivity" />
        </activity>
        <activity android:name=".view.CrearViajeActivity" />
        <activity
            android:name=".view.FichaGeneralActivity"
            android:parentActivityName=".view.PrincipalCoordinadorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.PrincipalCoordinadorActivity" />
        </activity>
        <activity android:name=".view.PrincipalCoordinadorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReferenciaActivity"
            android:label="@string/title_activity_referencia"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.CreateAccountActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>